{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                   
                ]
            }
        }],
        "stage-2",
        "react"
    ],
    "plugins" : [
        "syntax-dynamic-import"
    ]
}